/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.name {
  /*padding: 0px;*/
}

.about {
  text-align: right;
  font-family: 'Acme', sans-serif;
}

h3 {
  font-family: 'Acme', sans-serif;
  font-size: 44px;
}

img {
  border-radius: 10px;
  margin: 17px;
}

.field {
  margin: 20px;
}

.navbar {
  background-color: #191919;
  color: rgb(59,89,152);
}

a {
  color: rgb(59,89,152);
  font-size: 24px;
  margin: 20px;
  font-family: 'Acme', sans-serif;
}

table{
  margin: 0 auto;
}

th {
  font-size: 26px;
  font-family: 'Acme', sans-serif;
}

td {
  font-size: 26px;
  font-family: 'Acme', sans-serif;
  color: black;
}

td a {
  color: black;
}

tr {
  
  margin: 30px;
  text-align: center;
  height: 300px;
  width: 300px;
}

h1 {
  text-align: center;
  font-family: 'Acme', sans-serif;
  color: rgb(59,89,152);
}

.welcome {
  float: right;
}

.info {
  margin-top: 30px;
  text-align: center;
}

.new_img {
  text-align: center;
  font-family: 'Acme', sans-serif;
  margin-bottom: 20px;
}

.new_img a{
  font-size: 36px;
  border: 1px solid rgb(59,89,152);
  border-radius: 20px;
  background-color: #191919;
}

tbody {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 900px;
}

.all {
  background-color: rgb(59,89,152);
}

.signs a{
  text-align: center;
  font-size: 35px;
  color: rgb(59,89,152);
  border: 1px solid #191919;
  background: black;
}

.signs {
  text-align: center;
}

.info a {
  font-size: 35px;
}

body {
  background: rgb(59,89,152);
}

.intro p {
  color: #191919;
  font-size: 16px;
  margin: 60px 100px;
}

.links {
  text-align: center;
  font-size: 35px;
}

.links a {
  color: #191919;
}

.logins {
  text-align: center;
  font-size: 24px;
  color: #191919;
}

input {
  text-align: center;
}

.img {
  text-align: center;
  display: flex;
  justify-content: center;
}

.edit {
  color: #191919;
  font-size: 24px;
  text-align: center;
}

.edit a{
  color: #191919;
  font-size: 24px;
}